h1, h2, h4 {
  margin: auto
}

h3 {
  text-align: center;
}

ul {
  margin: auto;
  padding-left: 80px; 
}


table {
  margin: auto;
  border-collapse: collapse;
  border: 1px solid black;
  width: 95%
  
}

th, td {
  border: 1px solid black;
}

th {
  height: 50px;
  width: 25px;
  background-color: lightgray; 
}

td {
  height: 30px;
  text-align: center
}

