.navbar h1 {
	text-align: center;
}
.navbar ul {
	list-style: none;
	background-color: darkgray;
	text-align: left;
	padding: 0;
	margin 0;
}

.navbar a {
	text-decoration: none;
	color: #4b6972;
	display: inline-block;
	transition: .3s background-color;

}

.navbar a:hover {
	background-color: #99ba94;
}

.navbar li {
	width: 120px;
	display: inline-block;
	margin-right: -30px;
	line-height: 30px;
	font-size: 20px;
}

.footer{
	position: absolute;
	bottom: 0;
	right: 0;
	left:0;
	text-align: center;
	color: #4b6972;
	background-color: darkgray;
}