.img-circular{
  background-image: url("http://assets8.radiox.co.uk/2013/45/gorillaz---demon-days-1384452542-view-0.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.albumInfo {
  padding-top: 460px;
  text-align: center;
}

#AlbumTitle {
  font-family: 'Permanent Marker', cursive;
}

#BandP {
  font-family: 'Shadows Into Light', cursive;
}

.NamesInBand {
  font-style: italic;
}

h1, h2, h4 {
  margin: auto
}

h3 {
  text-align: center;
}

ul {
  margin: auto;
  padding-left: 80px; 
}


table {
  margin: auto;
  border-collapse: collapse;
  border: 1px solid black;
  width: 95%
  
}

th, td {
  border: 1px solid black;
}

th {
  height: 50px;
  width: 25px;
  background-color: lightgray; 
}

td {
  height: 30px;
  text-align: center
}

