.navbar h1 {
	text-align: center;
  font-family: 'Fredericka the Great', cursive;
  background-color: white;
  padding: 15px;
  margin: 0;
}

.navbar ul {
	list-style: none;
	background-color: darkgray;
	text-align: left;
	padding: 0;
	margin: 0;
}

.navbar a {
	text-decoration: none;
	color: #4b6972;
	display: inline-block;
	transition: .3s background-color;

}

.navbar a:hover {
	background-color: #99ba94;
  font-weight: bold;
}

.navbar a:active {
  text-decoration: none;
}

.navbar li {
	width: 145px;
	display: inline-block;
	margin-right: -30px;
	line-height: 50px;
	font-size: 20px;
}

.footer{
	margin-top: 0;
	text-align: center;
	color: #4b6972;
	background-color: darkgray;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}