.img-circular{
  border-radius: 100%;
  padding: auto;
  margin: auto;
}

.albumInfo {
  text-align: center;
}


#AlbumTitle {
  font-family: 'Permanent Marker', cursive;
}

#BandP {
  font-family: 'Shadows Into Light', cursive;
}

.NamesInBand {
  font-style: italic;
}

h1, h2, h4 {
  margin: auto;
}

h3 {
  text-align: center;
}

ul {
  margin: auto;
  padding-left: 80px; 
}


table {
  margin: auto;
  border-collapse: collapse;
  border: 1px solid black;
  width: 95%
  
}

tr:nth-child(even) {	
	background: #CCC;
}

tr:nth-child(odd) {
	background: #FFF;
}

th, td {
  border: 1px solid black;
}

th {
  height: 50px;
  width: 25px;
  background-color: #79afa0;
}

td {
  height: 30px;
  text-align: center;
  font-style: italic;
  
}

