html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1;
	padding: 20px;
}

.navbar h1 {
	text-align: center;
  font-family: 'Fredericka the Great', cursive;
  background-color: white;
  padding: 15px;
  margin: 0;
}

.navbar ul {
	list-style: none;
	background-color: darkgray;
	text-align: left;
	padding: 0;
	margin: 0;
}

.navbar a {
	text-decoration: none;
	color: #4b6972;
	display: inline-block;
	transition: .3s background-color;

}

.navbar a:hover {
	background-color: #99ba94;
  font-weight: bold;
}

.navbar a:active {
  text-decoration: none;
}


.footer{
	padding: 20px;
	color: #4b6972;
	background-color: darkgray;
	text-align: center;

}